<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OverPicker API</title>
</head>
<body>
    <h1>OverPicker API</h1>
    <ul>
        <li><h2>Map Data</h2>
            <ul>
                <li><a href="/map-type">Maps</a></li>
                <li><a href="/map-info">Map Types</a></li>
            </ul>
        </li>
        <li><h2>Hero Data</h2>
            <ul>
                <li><a href="/hero-info">Hero Info</a></li>
                <li><a href="/hero-counters">Hero Counters</a></li>
                <li><a href="/hero-synergies">Hero Synergies</a></li>
                <li><a href="/hero-maps">Hero Maps</a></li>
                <li><a href="/hero-adc">Hero ADC</a></li>
                <li><a href="/hero-tiers">Hero Tiers</a></li>
            </ul>
        </li>
    </ul>
</body>
</html>